* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
}

body {
  font-family: 'Bitter';
  line-height: 3rem;
  text-align-last: center;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: url(../IMG/Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  height: 100vh;
}
body::-webkit-scrollbar {
  display: none;
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 100vh;
}
.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  perspective: 1000px;
}
.imglogo {
  max-height: 30vh;
}
.navbar {
  display: flex;
  min-height: 10vh;
  justify-content: space-between;
  border-bottom: 1px solid rgba(250, 235, 215, 0.397);
  z-index: 1;
  width: 100%;
}
.sticky {
  position: sticky;
  top: 0;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  width: 100%;
}
.button {
  display: flex;
  height: 20%;
  width: 20%;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2rem;
}

.menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: antiquewhite;
}
a:hover {
  color: black;
  transition: all 1s ease-out;
}
.main {
  height: 90vh;
  width: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* overflow-y: scroll; */
  scroll-snap-type: y mandatory;
}

.fixed::-webkit-scrollbar {
  display: none;
}
.scroll-page {
  position: relative;
  padding: 5%;
  height: 90vh;
  width: 100%;
  background-color: rgb(194, 100, 114, 0.37);
  color: rgb(233, 223, 223);
  font-weight: 200;

  scroll-snap-align: center;
}
.fixed {
  position: fixed;
  top: 10vh;
  overflow-y: scroll;
  /* scroll-behavior: smooth; */
}
#About {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#Work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Social {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  column-gap: 5rem;
}
.titres {
  position: absolute;
  top: 30%;
}

.socialcontent {
  position: absolute;
  top: 20%;
  padding: 5%;
}
.iconlink {
  width: 5rem;
  height: 5rem;
}

@media (max-width: 500px) and (orientation: portrait) {
  html {
    min-height: -webkit-fill-available;
    height: fill;
  }

  body {
    font-size: small;
    min-height: -webkit-fill-available;
  }
  .welcome {
    perspective: 500px;
  }
  .titres {
    top: 10%;
  }
  .socialcontent {
    top: 10%;
  }
}

@media (max-width: 900px) and (orientation: landscape) {
  html {
    min-height: -webkit-fill-available;
    height: fill;
  }
  body {
    min-height: -webkit-fill-available;
    font-size: small;
  }
  .welcome {
    perspective: 100px;
  }
  .titres {
    top: 5%;
  }
  .socialcontent {
    top: 5%;
  }
}
