* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
}

body {
  font-family: 'Bitter';
  line-height: 3rem;
  text-align-last: center;
  -webkit-user-select: none;
  -webkit-touch-callout: none; /*Safari ios*/
  -moz-user-select: none; /*Firefox*/
  -ms-user-select: none; /*Microsoft*/
  user-select: none;
  background-image: url(../IMG/Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  height: 100vh;
}
body::-webkit-scrollbar {
  display: none;
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 100vh;
}
.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  perspective: 1000px;
}
.imglogo {
  max-height: 20vh;
}
.landscape-deactivated {
  display: none;
}
.navbar {
  display: flex;
  min-height: 10vh;
  justify-content: space-between;
  border-bottom: 1px solid rgba(250, 235, 215, 0.397);
  z-index: 1;
  width: 100%;
}
.sticky {
  position: sticky;
  top: 0;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.button {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2rem;
}

.menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: antiquewhite;
  height: 100%;
  width: 100%;
}
a:hover {
  color: black;
  transition: all 1s ease-out;
}
.main {
  height: 90vh;
  width: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.fixed::-webkit-scrollbar {
  display: none;
}
.scroll-page {
  position: relative;
  padding: 5%;
  height: 90vh;
  width: 100%;
  background-color: rgb(194, 100, 114, 0.37);
  color: rgb(233, 223, 223);
  font-weight: 200;
  scroll-snap-align: center;
}
.fixed {
  position: fixed;
  top: 10vh;
  overflow-y: scroll;
  /* scroll-behavior: smooth; */
}
#About {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#Work {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

#Social {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  column-gap: 5rem;
}
.titres {
  position: absolute;
  top: 30%;
}

.socialcontent {
  position: absolute;
  top: 20%;
  padding: 5%;
}

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modal-container.active {
  display: block;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: #333333d3;
}
.modal img {
  max-height: 60%;
  max-width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid antiquewhite;
  z-index: 10;
}
.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  gap: 15px;
}
.image-container .image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 3px solid antiquewhite;
  box-shadow: 10px 10px 20px rgba(26, 25, 25, 0.596);
  overflow: hidden;
}
.image-container .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.5s ease;
  opacity: 0.5;
}
.image-container .image:hover img {
  transform: scale(1.1);
  opacity: 1;
}

.iconlink {
  width: 5rem;
  height: 5rem;
}
.burger {
  display: none;
}

@media (max-width: 800px) and (orientation: portrait) {
  html {
    min-height: -webkit-fill-available;
    height: fill;
  }

  body {
    font-size: small;
    min-height: -webkit-fill-available;
  }
  .welcome {
    perspective: 700px;
  }
  .titres {
    top: 10%;
  }
  .socialcontent {
    top: 10%;
  }

  .navbar {
    display: flex;
    align-items: center;
    top: 0;
  }

  .menu {
    position: relative;
    justify-content: space-around;
    left: -100vw;
    transition: all 0.7s ease;
  }
  .menu a {
    color: transparent;
    transition: color 2s ease;
  }
  .menu.visible {
    left: 0;
    height: 100%;
  }

  .menu.visible a {
    color: antiquewhite;
  }
  .burger {
    display: flex;
    position: relative;
    z-index: 1;
    background-color: transparent;
    border: none;
    justify-content: center;
    align-items: center;
    left: 0;
    cursor: pointer;
    height: 100%;
    max-width: 20%;
  }
  .burgerimg {
    width: 50%;
  }
}
@media (max-width: 490px) and (orientation: portrait) {
  .image-container .image {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    border: 3px solid antiquewhite;
    box-shadow: 10px 10px 20px rgba(26, 25, 25, 0.596);
    overflow: hidden;
  }
}

@media only screen and (orientation: landscape) {
  .welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    line-height: 3rem;
    gap: 2em;
    color: antiquewhite;
    font-size: small;
  }
  .container {
    display: none;
  }
  .landscape-deactivated {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
